# D-TALE

D-Tale is the combination of a Flask back-end and a React front-end to bring you an easy way to view & analyze Pandas data structures. 

- https://pypi.org/project/dtale/


- https://www.analyticsvidhya.com/blog/2021/06/exploring-pandas-dataframe-with-d-tale/

In [ ]:
# Installation

# pip install dtale

In [1]:
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

# Necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Automate EDA

import dtale

## Seaborn Libraries

In [2]:
print(sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

## Load Healthexp Dataset

In [3]:
df_healthexp = sns.load_dataset('healthexp')

In [4]:
df_healthexp

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [5]:
# Display interactive dashboard
dtale.show(df_healthexp)

In [6]:
# Display the D-Tale dashboard in the default web browser.
dtale.show(df_healthexp, open_browser=True, name='Example')