# PivotTable.js

Drag’n’drop Pivot Tables and Charts

- https://pypi.org/project/pivottablejs/0.9.0/


- https://medium.com/@yashrajeshjadhav/instant-pivot-tables-with-pivottable-js-830993200e94

In [ ]:
# Installation

# !pip install pivottablejs

In [1]:
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

# Necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Automate EDA

from pivottablejs import pivot_ui

## Load Insurance Dataset

In [2]:
df_insurance = pd.read_csv(r"C:\Users\ariel\OneDrive\Desktop\CCT College\GitHub\Automated EDA\Datasets\datasets\insurance_data.csv")

In [3]:
df_insurance

     age  bmi  charges  gender     region
0     19   28    16885  female  southwest
1     62   26    27809  female       east
2     48   28    23568    male  southwest
3     53   23    23245  female       east
4     20   22    14712  female  northwest
..   ...  ...      ...     ...        ...
119   29   22    16115  female       east
120   32   28    21472    male  northwest
121   30   24    18766  female  northwest
122   62   27    28101    male       east
123   61   29    29141  female  northwest

[124 rows x 5 columns]

In [5]:
# Create & save the pivot table as HTML file.
pivot_table = pivot_ui(df_insurance, outfile_path='PivotTablejs.html')
pivot_table